@use 'variables';

@mixin mobile {
  @media (max-width: #{variables.$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{variables.$tablet}) and (max-width: #{variables.$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{variables.$desktop}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}