$primary-teal: #39CDCC;
$primary-blue: #213F7D;
$text-gray: #545F7D;
$bg-light: #FBFBFB;
$border-color: rgba(84, 95, 125, 0.15);
$white: #ffffff;

$font-main: 'Work Sans', sans-serif;

$shadow-sm: 0 2px 10px rgba(0, 0, 0, 0.03);
$shadow-md: 0 5px 20px rgba(0, 0, 0, 0.05);

$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;